<h1 *ngIf="isAddMode">Add Product</h1>
<h1 *ngIf="!isAddMode">Edit Product</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">

    <div class="form-group col-4">
      <label for="productName">Product Name</label>
      <input id="productName" type="text" formControlName="productName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.productName.errors }"/>
      <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
        <div *ngIf="f.productName.errors.required">Product Name is required</div>
      </div>
    </div>

    <div class="form-group col-4">
      <label for="productPrice">Product Price</label>
      <input id="productPrice" type="number" formControlName="productPrice" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.productPrice.errors }"/>
      <div *ngIf="submitted && f.productPrice.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Product Price is required</div>
      </div>
    </div>

    <div class="form-group col-4">
      <label for="preparationTime">Preparation Time (Min)</label>
      <input id="preparationTime" type="number" formControlName="preparationTime" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.preparationTime.errors }"/>
      <div *ngIf="submitted && f.preparationTime.errors" class="invalid-feedback">
        <div *ngIf="f.preparationTime.errors.required">Preparation Time is required</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      <label>Status</label>
      <div class="d-flex align-items-end border">
        <div class="form-check" style="margin-left: 1rem">
          <input class="form-check-input" type="radio" name="available" formControlName="available" value=1
                 id="flexRadioDefault1" >
          <label class="form-check-label" for="flexRadioDefault1">
            Enable
          </label>
          <div *ngIf="submitted && f.available.errors" class="invalid-feedback">
            <div *ngIf="f.available.errors.required">available is required</div>
          </div>
        </div>
        <div class="form-check" style="margin-left: 1.5rem; margin-top: 0.5rem">
          <input class="form-check-input" type="radio" name="available" formControlName="available" value="0"
                 id="flexRadioDefault2" checked >
          <label class="form-check-label" for="flexRadioDefault2">
            Disable
          </label>
          <div *ngIf="submitted && f.available.errors" class="invalid-feedback">
            <div *ngIf="f.available.errors.required">available is required</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" (click)="test()" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <a routerLink="/users" class="btn btn-link">Cancel</a>
  </div>
</form>
