<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 1rem">
  <div class="col" *ngFor="let product of products" style="margin-bottom: 1rem">
    <div class="card" style="height: 15rem">
      <div class="card-header">
        {{product.productPrice | currency:' R'}}
      </div>
      <div class="card-body h-100" style="display: grid">
        <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">{{product.discription}}</p>
        <div class="card-footer" style="height: 4rem">
          <button class="btn btn-outline-success" type="button" id="{{product.id}}" (click)="openModal($event)">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>
